* {
	box-sizing: border-box;
}

/* Mobile first */

html {
	border-top: 3px solid @alizarin;
}

body {
	background: url(../img/grey.png);
	font-family: 'Lato', sans-serif;
	width: 90%;
	margin: 20px auto;

	> header {
		display: flex;
		flex-flow: row wrap;

		> section {
			order: -2;
		}

		> nav {
			order: -1;

			> ul {
				margin: 0;
				padding: 0;
				overflow: hidden;
			}
		}

		> h1, 
		> p {
			flex-grow: 2;
			color: @wet-asphalt;
		}

		> * {
			flex: 1 50%;
			border-radius: 10px;
			border: 1px dashed @turquoise;
			box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
			min-height: 150px;
			overflow: hidden;
			margin: 0;
			margin-top: 10px;
			padding: 10px;
		}

		a {
			color: @turquoise;
		}
	}
	

	// flex box wrapper
	div {
		display: flex;
		flex-flow: column wrap;
		margin-top: 30px;
		font-size: 1em;
		line-height: 2em;

		> * {
			flex: 1;
			padding: 20px;
		}

		> h1 {
			flex: 1 100%;
			color: @alizarin;
		}

		> main {
			flex-grow: 2;
			background-color: white;
			border: 2px dashed @turquoise;
			border-radius: 30px 0 0 0;
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
			max-width: 62em;

			> article {
				color: @wet-asphalt;
				margin-top: 20px;
				margin-bottom: 20px;
				
				> header {
					font-size: 1rem;

					h1,p {
						margin: 0;
					}

					p {
						color: @concrete;
					}
				}

				> p {
					font-size: 1.5rem;
				}

				blockquote {
					color: @concrete;
					border-left: 7px solid @clouds;
					padding-left: 10px;

					&:before {
						
					}
				}

				&:nth-of-type(2n) {
					background-color: @clouds;
					border-top: 1px dashed @turquoise;
					border-bottom: 1px dashed @turquoise;
					margin-left: -20px;
					margin-right: -20px;
					padding: 20px;
				}
			}
		}

		> aside {
			border: 1px dashed @turquoise;
			border-radius: 0 0 30px 30px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
			color: @wet-asphalt;

			> h1 {
				margin: 0;
			}

			> section {
				margin: 40px 0;

				> p {

					> time {
						background-color: @alizarin;
						box-shadow: 2px 2px 3px @pomegranate;
						color: white;
						padding: 5px;
						margin-right: 10px;
						border-radius: 3px;
					}
				}

				&:nth-of-type(2n) {
					margin-left: -20px;
					margin-right: -20px;
					padding: 20px;
					border-top: 1px dashed @turquoise;
					border-bottom: 1px dashed @turquoise;
				}
			}
		}

		> footer {
			flex: 1 100%;
			text-align: center;
		}


		a {
			color: @turquoise;
		}
	}
}

// Media queries
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in mobile first */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

	body {
		width: 90%;

		> header {
			flex-flow: row wrap;

			> * {
				flex: 1 25%;
				margin-left: 5px;
			}
		}

		> div {
			flex-flow: row wrap;

			> main {
				border-radius: 30px 0 0 30px;
			}

			> aside {
				border-radius: 0 30px 30px 0;
			}

			a {
				transition: color .5s ease, text-shadow .5s ease;

				&:hover,
				&:focus {
					color: @wet-asphalt;
					text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

	body > header {

		> * {
			flex: 1 10%;
		}

		> nav > ul  {
			> li a {
				text-decoration: none;
				color: @turquoise;
				transition: background-color .5s ease, color .5s ease;
				word-wrap: break-word;

				&:hover,
				&:focus {
					background-color: @turquoise;
					color: white;
				}
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}


