@import url(http://fonts.googleapis.com/css?family=Lato);
* {
  box-sizing: border-box;
}
/* Mobile first */
html {
  border-top: 3px solid #ff3452;
}
body {
  background: url(../img/grey.png);
  font-family: 'Lato', sans-serif;
  width: 90%;
  margin: 20px auto;
}
body > header {
  display: flex;
  flex-flow: row wrap;
}
body > header > section {
  order: -2;
}
body > header > nav {
  order: -1;
}
body > header > nav > ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body > header > h1,
body > header > p {
  flex-grow: 2;
  color: #34495e;
}
body > header > * {
  flex: 1 50%;
  border-radius: 10px;
  border: 1px dashed #01c9a9;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  min-height: 150px;
  overflow: hidden;
  margin: 0;
  margin-top: 10px;
  padding: 10px;
}
body > header a {
  color: #01c9a9;
}
body div {
  display: flex;
  flex-flow: column wrap;
  margin-top: 30px;
  font-size: 1em;
  line-height: 2em;
}
body div > * {
  flex: 1;
  padding: 20px;
}
body div > h1 {
  flex: 1 100%;
  color: #ff3452;
}
body div > main {
  flex-grow: 2;
  background-color: white;
  border: 2px dashed #01c9a9;
  border-radius: 30px 0 0 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  max-width: 62em;
}
body div > main > article {
  color: #34495e;
  margin-top: 20px;
  margin-bottom: 20px;
}
body div > main > article > header {
  font-size: 1rem;
}
body div > main > article > header h1,
body div > main > article > header p {
  margin: 0;
}
body div > main > article > header p {
  color: #95a5a6;
}
body div > main > article > p {
  font-size: 1.5rem;
}
body div > main > article blockquote {
  color: #95a5a6;
  border-left: 7px solid #ecf0f1;
  padding-left: 10px;
}
body div > main > article:nth-of-type(2n) {
  background-color: #ecf0f1;
  border-top: 1px dashed #01c9a9;
  border-bottom: 1px dashed #01c9a9;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
}
body div > aside {
  border: 1px dashed #01c9a9;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: #34495e;
}
body div > aside > h1 {
  margin: 0;
}
body div > aside > section {
  margin: 40px 0;
}
body div > aside > section > p > time {
  background-color: #ff3452;
  box-shadow: 2px 2px 3px #c0392b;
  color: white;
  padding: 5px;
  margin-right: 10px;
  border-radius: 3px;
}
body div > aside > section:nth-of-type(2n) {
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  border-top: 1px dashed #01c9a9;
  border-bottom: 1px dashed #01c9a9;
}
body div > footer {
  flex: 1 100%;
  text-align: center;
}
body div a {
  color: #01c9a9;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in mobile first */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    width: 90%;
  }
  body > header {
    flex-flow: row wrap;
  }
  body > header > * {
    flex: 1 25%;
    margin-left: 5px;
  }
  body > div {
    flex-flow: row wrap;
  }
  body > div > main {
    border-radius: 30px 0 0 30px;
  }
  body > div > aside {
    border-radius: 0 30px 30px 0;
  }
  body > div a {
    transition: color 0.5s ease, text-shadow 0.5s ease;
  }
  body > div a:hover,
  body > div a:focus {
    color: #34495e;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body > header > * {
    flex: 1 10%;
  }
  body > header > nav > ul > li a {
    text-decoration: none;
    color: #01c9a9;
    transition: background-color 0.5s ease, color 0.5s ease;
    word-wrap: break-word;
  }
  body > header > nav > ul > li a:hover,
  body > header > nav > ul > li a:focus {
    background-color: #01c9a9;
    color: white;
  }
}
/* Large devices (large desktops, 1200px and up) */
form input {
  -webkit-appearance: none;
  color: #ff3452;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
form input:focus {
  border-color: #3498db;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
form :-moz-placeholder {
  color: #95a5a6;
}
form ::-webkit-input-placeholder {
  color: #95a5a6;
}
form ::-ms-input-placeholder {
  color: #95a5a6;
}
